@import "../../../assets/globalStyles/variables.scss";

.Header {
    a {
        color: black;
        text-decoration: none;
        text-align: center;
        font-family: "ubuntu-bold";
        font-size: $font-size-navbar;
    }
}