@import "../../../assets/globalStyles/variables.scss";

.Title {
    margin: 0px;

    &.H1  {
        font-family: "ubuntu-regular";
        font-size: $font-size-title;
    }

    &.H2 {
        font-family: "ubuntu-regular";
        font-size: $font-size-subtitle;
    }

    &.body {
        font-family: "ubuntu-regular";
        font-size: $font-size-body;
    }
}


