@import "../../../assets/globalStyles/variables.scss";

.SearchBar {
    @include flex;
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 200px;
    margin: 0 10px;
    border: 1px solid $gray-d;

    form {
        @include flex;
        width: 100%;
    }

    &:focus-within {
        box-shadow: 0 0 0 2px $green-dark-fade;
    }
    
    .Icon {
        margin-right: 8px;
        color: $deep-blue;
    }

    input {
        flex-grow: 1;
        border-style: none;
        font-family: $fontUR;
        -webkit-appearance: none;
    }

    input::-ms-clear {
        display: none;
    }

    input:focus {
        outline: white auto 0px;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }

}