@import "../../../assets/globalStyles/variables.scss";


.StatView {
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     box-shadow: 2px 2px 2px 1px lighten($deep-blue, 50%);

     margin: 20px 10px;
     padding: 10px;

     position: relative;             /*  added  */
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     flex: 1 1 0;    
     min-width:  120px;             /*  added  */
     

    &::childafter{
        content: '';
        position: absolute;
        left: 0;
        top: 10%;
        height: 80%;
    }

    .name {
        white-space: nowrap;
        padding: 10px;
    }

    .value {
        white-space: nowrap;
        padding: 10px;
    }
}
