@import "../../../assets/globalStyles/variables.scss";

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.HistoricalTable {
    margin-left: auto;
    margin-right: auto;
    padding: 2px 20px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
    
    table {
        border: 0px solid $deep-red;
        border-radius: 5px;
        border-spacing: unset;
        margin-left: auto;
        margin-right: auto;
    }

    tr:hover {
      color: white !important;
      background-color: #2F8378!important;
    }

    tbody {
        @for $i from 1 through 20 {
            tr {
               animation: .2s ease-in-out both fade-in;
        
              &:nth-child(#{$i}) {
                animation-delay: $i * (.01s);
              }
            }
          }
    }

    th { 
        color: white;
        padding: 10px;
        background-color: $deep-red;
        
    }

    tr:nth-child(even) {
        background-color: $table-even-rows;
    }

    td {
       padding: 10px;
    }
}