@import "../../../assets/globalStyles/variables.scss";


.MainContent {
    @include flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    max-width: $max-screen-width - $side-bar-width;
    justify-content: center;
    padding-left: 10px;
    border-left: 1px solid $gray-1;
    box-shadow: 0px 5px 0px 0px lighten($gray-2, 25%);;
}