@import "../../../assets/globalStyles/variables.scss";

.SideBar {
    width: $side-bar-width;
    flex-shrink: 0;
    text-align: center;
    padding-top: 10px;
    background-color: lighten($gray-2, 35%);
    .sticky {
        position: sticky;
        overflow-y: auto;
        top: $header-size;
        width: auto;
    }
}