$font-size-title: 48px;
$font-size-subtitle: 36px;
$font-size-navbar: 24px;
$font-size-body: 17px;
$font-size-tag: 14px;
$font-size-sub-tag: 10px;

$header-size: 60px;

$zindex-top: 1000;
$zindex-middle: 500;
$zindex-base: 1;


$gray-0: hsl(0, 0%, 96%);
$gray-1: hsl(0, 0%, 81%);
$gray-2: hsl(0, 0%, 69%);


$green-dark: #3B842F;
$green-medium: #4BAA3B;
$green-light: #64C553;

$green-dark-fade: hsl(112, 47%, 65%);

$gray-d: #A6A6A6;
$gray-l: #BFBFBF;

$header-top-border: $green-medium;

$light-purple: #aa6dc0;


$light-blue: hsl(211, 73%, 85%);


$table-dark-header: #353147;
$table-even-rows: #f5f5f5;


$max-screen-width: 1264px;

$fontUR: "ubuntu-regular";
$fontUB: "ubuntu-bold";
$fontUI: "ubuntu-italic";


@mixin flex {
    display: flex;
}